.venv/
.vscode/
__pycache__/
*.pyc
.env
.DS_Store
.idea/
logs/
*.log
dist/
build/
*.egg-info/
coverage
cov/
node_modules/
*.sqlite3
*.db
*.iml
*.swp
*.swo
*.bak
*.tmp

# Ignore system files
Thumbs.db
ehthumbs.db
Desktop.ini
*.class
*.jar
*.war
*.ear
*.log
*.out

